<div>
  <h4 class="mt-2 title">
    <%= theme.title %>
    <svg class="modeswitch" aria-label="ModeSwitch" onclick="setDarkMode()" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M23.52 12C23.52 18.36 18.36 23.52 12 23.52C5.64 23.52 0.48 18.36 0.48 12C0.48 5.64 5.64 0.48 12 0.48C18.36 0.48 23.52 5.64 23.52 12ZM12 20.16L12 3.84C7.5 3.84 3.84 7.5 3.84 12C3.84 16.5 7.5 20.16 12 20.16Z"/>
    </svg>
  </h4>
  <div class="twelve columns">
    <div class="row">
      <div class="nine columns left">
        <a href="<%= config.root %>">home</a>
        <% for (name in theme.menu) { %>
        <a href="<%- url_for(theme.menu[name]) %>" class="ml"><%- name %></a>
        <% } %>
        <% if (theme.email) { %>
        <a href="mailto:<%- obfuscate(theme.email) %>" target="_blank" class="ml">email</a>
        <% } %>
      </div>
    </div>
    <hr style="margin-bottom: 2.6rem" />
  </div>
</div>
<script>
  if (localStorage.getItem("preferredTheme") == "dark") {
    document.body.classList.toggle("darkmode");
  }
  function setDarkMode() {
    if (localStorage.getItem("preferredTheme") == null) {
      localStorage.setItem("preferredTheme", "dark");
    } else {
      localStorage.removeItem("preferredTheme");
    }
    document.body.classList.toggle("darkmode");
  }
</script>
