<div class="row">
  <div class="two columns" style="max-width: 50px">
    <h4 class="mt-2 mode">
      <svg class="clickme" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59 20" width="59" height="20">
        <path d="M38.21 1.76C38.14 1.88 38.14 1.98 38.2 1.98C38.26 1.98 38.17 2.25 37.99 2.58C37.82 2.91 37.48 4.2 37.22 5.44C36.97 6.68 36.76 8.19 36.76 8.79C36.76 9.4 36.88 9.96 37.01 10.05C37.14 10.15 37.34 10.07 37.45 9.89C37.55 9.71 37.59 9.41 37.52 9.23C37.46 9.05 37.46 8.48 37.53 7.97C37.59 7.45 37.74 7.03 37.87 7.03C37.99 7.03 38.66 7.61 39.35 8.31C40.05 9.01 40.87 9.66 41.17 9.75C41.47 9.84 41.77 9.86 41.83 9.78C41.89 9.71 41.22 8.98 40.34 8.17C39.46 7.37 38.74 6.58 38.74 6.43C38.74 6.28 39.12 5.84 39.57 5.46C40.03 5.07 40.82 4.58 41.33 4.36C41.85 4.14 42.27 3.81 42.27 3.63C42.27 3.45 42.1 3.29 41.88 3.29C41.67 3.29 41.05 3.58 40.51 3.93C39.96 4.29 39.27 4.84 38.97 5.15C38.66 5.47 38.29 5.72 38.14 5.72C37.99 5.72 37.87 5.59 37.87 5.44C37.87 5.29 38.1 4.4 38.38 3.47C38.66 2.54 38.84 1.72 38.77 1.65C38.69 1.58 38.57 1.53 38.48 1.53C38.4 1.54 38.27 1.64 38.21 1.76ZM25.07 3.68C24.71 4.73 24.57 5.7 24.56 7.01C24.55 8.76 24.57 8.87 25.15 9.31C25.68 9.72 25.88 9.75 26.67 9.56C27.17 9.44 27.69 9.17 27.83 8.97C27.96 8.76 28.02 8.54 27.96 8.48C27.9 8.42 27.45 8.5 26.97 8.66C26.48 8.82 25.9 8.89 25.67 8.82C25.44 8.74 25.16 8.43 25.06 8.13C24.94 7.8 24.95 7.1 25.09 6.37C25.21 5.71 25.51 4.57 25.76 3.85C26 3.12 26.2 2.45 26.2 2.36C26.2 2.27 26.06 2.2 25.88 2.2C25.69 2.2 25.37 2.77 25.07 3.68ZM20.61 3.13C20.22 3.52 19.74 4.34 19.53 4.95C19.32 5.55 19.15 6.54 19.15 7.14C19.16 7.75 19.28 8.48 19.43 8.77C19.58 9.07 19.95 9.39 20.25 9.5C20.59 9.62 21.15 9.61 21.68 9.47C22.17 9.35 22.75 9.12 22.98 8.96C23.21 8.81 23.34 8.56 23.26 8.41C23.15 8.19 22.97 8.2 22.46 8.46C22.09 8.64 21.47 8.79 21.08 8.8C20.57 8.8 20.28 8.66 20.06 8.3C19.87 7.97 19.8 7.39 19.87 6.59C19.93 5.93 20.19 4.96 20.45 4.45C20.7 3.94 21.16 3.39 21.46 3.24C21.92 3.01 22.06 3.02 22.4 3.35C22.61 3.55 22.91 3.73 23.06 3.73C23.21 3.73 23.34 3.64 23.34 3.52C23.34 3.4 23.14 3.1 22.9 2.86C22.65 2.62 22.19 2.42 21.88 2.42C21.51 2.42 21.04 2.68 20.61 3.13ZM29.85 2.91C29.65 3.18 29.51 3.8 29.52 4.29C29.53 4.77 29.41 6.05 29.26 7.14C29.11 8.23 29.06 9.29 29.14 9.51C29.22 9.72 29.35 9.89 29.44 9.89C29.54 9.89 29.69 9.18 29.78 8.3C29.87 7.42 30.07 5.78 30.22 4.65C30.37 3.52 30.42 2.55 30.34 2.5C30.26 2.45 30.04 2.63 29.85 2.91ZM33.15 3.35C32.77 3.74 32.27 4.61 32.05 5.27C31.82 5.94 31.65 6.98 31.67 7.58C31.69 8.19 31.85 8.9 32.03 9.18C32.21 9.45 32.63 9.73 32.97 9.81C33.3 9.88 34.01 9.81 34.54 9.64C35.06 9.48 35.58 9.22 35.69 9.07C35.81 8.89 35.78 8.75 35.61 8.67C35.46 8.61 34.96 8.71 34.51 8.89C34.05 9.08 33.58 9.23 33.46 9.23C33.34 9.23 33.04 9.03 32.8 8.79C32.47 8.46 32.36 8.07 32.37 7.2C32.38 6.56 32.57 5.6 32.79 5.05C33.01 4.51 33.45 3.87 33.77 3.63L34.34 3.19C35.38 3.96 35.71 4.08 35.77 3.96C35.83 3.84 35.66 3.49 35.39 3.18C35.12 2.88 34.66 2.63 34.37 2.63C34.07 2.63 33.54 2.95 33.15 3.35ZM46.8 3.8C46.18 4.48 46.16 4.58 46.14 6.86C46.13 8.3 46.21 9.23 46.34 9.24C46.46 9.25 46.66 8.43 46.79 7.43C46.91 6.43 47.12 5.41 47.25 5.16C47.47 4.76 47.51 4.8 47.86 5.6C48.07 6.09 48.41 6.81 48.61 7.21C48.82 7.62 49.11 8.06 49.27 8.2C49.45 8.37 49.61 8.39 49.73 8.24C49.83 8.12 50.1 7.5 50.33 6.87C50.56 6.23 50.84 5.67 50.96 5.63C51.09 5.59 51.2 5.66 51.22 5.8C51.24 5.93 51.33 6.69 51.42 7.47C51.5 8.26 51.76 9.42 51.99 10.05C52.23 10.75 52.53 11.21 52.73 11.21C52.91 11.21 53.06 11.06 53.06 10.88C53.06 10.7 52.92 10.33 52.75 10.05C52.58 9.78 52.32 9.02 52.17 8.35C52.02 7.69 51.89 6.5 51.89 5.71C51.88 4.68 51.77 4.17 51.49 3.85C51.11 3.42 51.08 3.45 50.26 5.24C49.58 6.74 49.37 7.02 49.15 6.78C49 6.62 48.65 5.75 48.38 4.86C48.11 3.96 47.78 3.2 47.66 3.16C47.54 3.13 47.15 3.41 46.8 3.8ZM55.68 3.36C55.13 3.51 54.5 3.77 54.29 3.96C53.91 4.27 53.91 4.3 54.3 4.56C54.69 4.82 54.68 4.88 54.1 6.15C53.77 6.88 53.5 7.67 53.5 7.91C53.5 8.15 53.67 8.65 53.88 9.01C54.09 9.37 54.56 9.82 54.93 10.02C55.35 10.26 55.81 10.34 56.19 10.25C56.53 10.17 57.05 9.86 57.35 9.56C57.65 9.26 57.9 8.86 57.9 8.68C57.9 8.5 57.75 8.35 57.57 8.35C57.39 8.35 57.09 8.6 56.91 8.9C56.67 9.3 56.39 9.45 55.86 9.46C55.46 9.46 54.98 9.3 54.77 9.07C54.56 8.86 54.39 8.41 54.38 8.08C54.38 7.74 54.45 7.43 54.54 7.37C54.63 7.32 55.2 7.21 55.81 7.14C56.41 7.07 57.13 6.96 57.4 6.91C57.68 6.86 57.9 6.66 57.9 6.48C57.9 6.29 57.7 6.16 57.4 6.16C57.13 6.16 56.51 6.26 56.03 6.37C55.47 6.5 55.07 6.49 54.93 6.36C54.78 6.22 54.85 5.93 55.13 5.51C55.36 5.16 55.54 4.72 55.52 4.53C55.5 4.33 55.73 4.08 56.03 3.96C56.33 3.84 56.88 3.74 57.24 3.74C57.66 3.74 57.87 3.64 57.83 3.46C57.79 3.31 57.52 3.17 57.22 3.14C56.93 3.12 56.24 3.22 55.68 3.36ZM3.93 5.12C3.61 5.63 3.28 6.39 3.2 6.81C3.11 7.24 2.8 8.42 2.52 9.45C2.23 10.48 1.88 12.41 1.75 13.74C1.58 15.47 1.57 16.42 1.74 17.09C1.91 17.76 2.14 18.08 2.53 18.24C2.9 18.39 3.53 18.39 4.46 18.23C5.21 18.11 6.68 17.75 7.71 17.44C8.73 17.13 10.84 16.39 12.38 15.8C14.9 14.84 15.18 14.67 15.14 14.23C15.1 13.94 14.95 13.76 14.75 13.78C14.57 13.81 13.87 13.97 13.21 14.14C12.54 14.31 10.86 14.72 9.47 15.06C8.07 15.4 6.24 15.9 5.39 16.19C4.55 16.47 3.78 16.71 3.69 16.71C3.6 16.7 3.52 16.36 3.52 15.93C3.52 15.51 3.72 14.87 3.96 14.51C4.2 14.14 4.55 13.85 4.73 13.85C4.91 13.85 5.19 13.6 5.34 13.3C5.5 13 5.87 12.71 6.22 12.64C6.55 12.58 7.02 12.63 7.26 12.75C7.51 12.87 7.78 12.92 7.87 12.86C7.96 12.8 7.96 12.6 7.87 12.42C7.78 12.24 7.46 12.09 7.15 12.09C6.85 12.09 6.6 12.01 6.59 11.92C6.59 11.83 6.97 11.41 7.44 10.99C7.91 10.57 8.63 10.03 9.04 9.79C9.46 9.56 10.49 9.05 11.34 8.67C12.19 8.28 13.57 7.76 14.42 7.5C15.27 7.24 16.38 6.93 16.9 6.81C17.41 6.69 17.83 6.49 17.83 6.37C17.83 6.25 17.51 6.06 17.12 5.95C16.57 5.8 15.87 5.88 14.2 6.29C12.99 6.59 11.55 7.04 11.01 7.3C10.46 7.56 9.57 8.08 9.03 8.45C8.48 8.82 7.64 9.42 7.15 9.78C6.67 10.14 5.75 10.88 5.11 11.42C4.39 12.04 3.95 12.29 3.96 12.09C3.96 11.91 4.17 11.12 4.42 10.33C4.67 9.54 5.01 7.96 5.17 6.81C5.33 5.66 5.42 4.6 5.37 4.45C5.32 4.3 5.11 4.18 4.9 4.18C4.69 4.19 4.25 4.61 3.93 5.12Z" />
      </svg>
      <div onclick=setDarkMode(true) id="darkBtn">🌚</div>
      <div onclick=setDarkMode(false) id="lightBtn" class=hidden>🌝</div>
    </h4>
  </div>

  <div class="six columns ml-1" style="max-width: 200px">
    <h4 class="mt-2">
      <%= theme.title %>
    </h4>
  </div>

  <div class="twelve columns">
    <div class="row">
      <div class="nine columns left">
        <a href="<%= config.root %>" class="link">home</a>
        <% for (name in theme.menu) { %>
          <a href="<%- url_for(theme.menu[name]) %>" class="ml link"><%- name %></a>
        <% } %>
        <% if (theme.email) { %>
          <a href="mailto:<%- obfuscate(theme.email) %>" class="ml link" target="_blank">email me</a>
        <% } %>
      </div>
    </div>
    <hr style="margin-bottom: 2.6rem">
  </div>
</div>

<script >

  if (localStorage.getItem('clickme') == 'hide') {
    document.getElementsByClassName('clickme')[0].style.visibility = 'hidden';
  } 

  if (localStorage.getItem('preferredTheme') == 'dark') {
    setDarkMode(true);
  }

  function setDarkMode(isDark) {
    document.getElementsByClassName('clickme')[0].style.visibility = 'hidden';
    localStorage.setItem('clickme', 'hide');
    var darkBtn = document.getElementById('darkBtn');
    var lightBtn = document.getElementById('lightBtn');
    if (isDark) {
      lightBtn.style.display = "block"
      darkBtn.style.display = "none"
      localStorage.setItem('preferredTheme', 'dark');
    } else {
      lightBtn.style.display = "none"
      darkBtn.style.display = "block"
      localStorage.removeItem('preferredTheme');
    }
    document.body.classList.toggle("darkmode");
  }
</script>
