<div class="row">
  <div class="six columns">
    <h4 class="mt-2 header">
      <%= theme.title %>
    </h4>
    <h4 class="mt-2 mode header">
      <svg onclick="setDarkMode(true)" class="clickme" viewBox="0 0 150 84" xmlns="http://www.w3.org/2000/svg" width="45" height="25">
        <path d="M14.08 2.41C14.86 2.39 16.03 3.13 16.9 4.17C17.71 5.15 18.38 6.49 18.38 7.15C18.38 7.8 18.25 8.74 18.08 9.23C17.92 9.73 17.39 10.13 16.9 10.13C16.39 10.13 15.82 9.32 15.56 8.26C15.32 7.24 14.64 6.1 14.06 5.73C13.24 5.21 12.54 5.33 10.8 6.33C9.59 7.02 7.99 8.5 7.25 9.6C6.5 10.71 5.9 12.49 5.91 13.55C5.92 14.9 6.47 16.04 7.71 17.28C8.74 18.31 10.11 19.06 10.97 19.06C11.78 19.06 13.24 18.59 14.21 18.02C15.18 17.45 16.11 17.11 16.29 17.28C16.47 17.44 16.41 18.08 16.16 18.7C15.91 19.32 14.98 20.19 14.08 20.64C13.18 21.08 11.38 21.45 10.08 21.45C8.21 21.45 7.29 21.04 5.71 19.51C4.42 18.25 3.57 16.74 3.29 15.19C2.96 13.36 3.13 12.25 4.04 10.43C4.7 9.11 6.12 7.2 7.21 6.18C8.3 5.15 9.99 3.89 10.97 3.37C11.95 2.85 13.35 2.42 14.08 2.41ZM24 5.36C24.5 5.36 24.9 5.76 24.9 6.26C24.9 6.75 23.92 9.76 22.72 12.96C20.71 18.31 20.61 18.88 21.41 20.26C22.18 21.58 22.72 21.76 26.4 21.92C28.68 22.02 30.8 22.35 31.13 22.64C31.52 23 31.41 23.51 30.83 24.13C30.18 24.82 28.82 25.07 25.79 25.07C22.55 25.06 21.28 24.8 20.01 23.85C18.59 22.79 18.38 22.24 18.39 19.51C18.4 17.38 18.94 15.14 20.1 12.51C21.03 10.38 22.09 7.9 22.45 7C22.81 6.1 23.51 5.36 24 5.36ZM37.66 8.94C38.14 8.94 38.53 9.41 38.52 9.98C38.51 10.55 37.49 14.51 36.26 18.77C34.31 25.47 33.84 26.53 32.72 26.66C32 26.74 31.42 26.48 31.42 26.06C31.42 25.65 32.05 23.31 32.83 20.85C33.6 18.39 34.43 15.44 34.68 14.3C34.92 13.15 35.5 11.48 35.95 10.57C36.41 9.67 37.18 8.94 37.66 8.94ZM48.32 11.38C48.97 11.34 50.11 11.71 50.84 12.21C51.65 12.75 52.29 13.93 52.47 15.19C52.64 16.41 52.46 17.66 52.03 18.2C51.62 18.7 51.08 19.1 50.84 19.09C50.6 19.08 50.23 18.33 50.02 17.43C49.81 16.52 49.34 15.44 48.98 15.02C48.62 14.59 47.68 14.26 46.91 14.27C46.07 14.29 44.46 15.32 42.93 16.83C40.72 19.01 40.36 19.71 40.34 21.89C40.32 23.82 40.67 24.78 41.8 25.91C42.81 26.94 43.93 27.4 45.36 27.4C46.5 27.4 48.1 27 48.91 26.51C49.73 26.02 50.52 25.82 50.67 26.06C50.82 26.31 50.55 27.11 50.07 27.85C49.59 28.61 48.17 29.45 46.84 29.79C45.53 30.11 43.74 30.18 42.86 29.94C41.98 29.69 40.54 28.82 39.67 28C38.63 27.03 37.94 25.58 37.65 23.83C37.31 21.69 37.48 20.63 38.47 18.62C39.16 17.22 40.86 15.18 42.24 14.06C43.63 12.95 45.3 11.91 45.95 11.75C46.6 11.59 47.67 11.42 48.32 11.38ZM57.56 13.7C57.86 13.7 58.24 14.04 58.41 14.45C58.58 14.86 58.31 16.53 56.9 21.15L58.54 20.67C59.44 20.41 61.91 19.39 64.03 18.42C66.15 17.44 68.22 16.65 68.63 16.66C69.03 16.67 69.37 16.95 69.37 17.28C69.37 17.6 69.03 18.21 68.63 18.63C68.22 19.05 65.75 20.3 58.4 23.43L61.52 27.35C63.23 29.51 64.79 31.95 64.98 32.77C65.17 33.59 65.1 34.48 64.83 34.77C64.55 35.05 63.99 35.11 63.59 34.91C63.18 34.72 61.81 33.01 60.55 31.13C59.28 29.24 57.68 27.23 56.99 26.66C55.75 25.63 55.72 25.66 54.84 28.6C54.35 30.23 53.55 31.78 53.06 32.02C52.57 32.27 51.96 32.26 51.72 32C51.48 31.74 52.2 28.52 53.31 24.85C54.42 21.17 55.71 17.16 56.18 15.94C56.64 14.71 57.26 13.7 57.56 13.7ZM83.85 19.85C84.2 19.96 84.67 21.11 84.89 22.39C85.11 23.67 85.47 26.87 86.05 34.26L89.57 28.74C91.5 25.71 93.48 23.23 93.97 23.23C94.46 23.23 94.88 23.44 94.89 23.68C94.91 23.93 94.98 27.91 95.04 32.53C95.14 39.27 94.98 41.12 94.27 41.93C93.63 42.66 93.21 42.76 92.79 42.29C92.46 41.93 92.06 39.04 91.6 30.09L88.89 34.26C87.39 36.55 85.7 38.83 85.13 39.32C84.21 40.11 84.04 40.11 83.56 39.32C83.26 38.83 82.99 36.41 82.95 33.96C82.92 31.5 82.69 28.82 82.45 28C82.06 26.65 81.84 26.91 80.16 30.68C79.13 32.97 77.94 35.52 77.51 36.34C77.08 37.16 76.28 37.9 75.72 37.98C75.16 38.06 74.7 37.86 74.7 37.53C74.7 37.2 76.21 33.52 78.05 29.34C79.89 25.16 81.8 21.27 82.3 20.69C82.8 20.11 83.5 19.73 83.85 19.85ZM104.28 25.86C105.13 26.03 107.54 26.48 109.64 26.86C112.24 27.34 113.41 27.82 113.34 28.38C113.29 28.82 112.87 29.3 112.41 29.43C111.95 29.56 110.42 29.44 109 29.16C107.58 28.88 105.82 28.64 105.09 28.62C104.12 28.6 103.51 29.16 102.87 30.68C102.38 31.83 101.98 32.9 101.98 33.06C101.98 33.23 103.11 33.5 104.5 33.68C105.88 33.85 107.42 34.26 107.91 34.58C108.67 35.09 108.63 35.29 107.61 36C106.71 36.63 105.8 36.7 103.9 36.29C102.52 35.99 101.12 35.88 100.79 36.04C100.46 36.21 100.19 37.21 100.19 38.28C100.18 39.34 100.52 40.55 100.93 40.97C101.37 41.41 103.13 41.71 105.24 41.7C107.35 41.69 109.09 41.99 109.52 42.44C110.1 43.03 110.1 43.35 109.52 43.96C109.07 44.44 107.38 44.72 105.09 44.71C103.03 44.69 100.59 44.28 99.6 43.79C98.55 43.26 97.71 42.29 97.53 41.4C97.37 40.59 97.4 39.04 97.61 37.98C97.82 36.91 98.76 34.37 99.69 32.32C100.62 30.27 101.25 28.33 101.09 28C100.92 27.67 101.23 26.99 101.76 26.48C102.36 25.91 103.33 25.67 104.28 25.86ZM133.68 33.36C134.18 33.36 134.99 33.96 135.48 34.7C136 35.49 136.37 37.39 136.38 39.32C136.38 41.72 135.94 43.46 134.74 45.83C133.77 47.75 132.26 49.62 131.03 50.44C129.66 51.35 128.75 51.61 128.36 51.22C127.97 50.83 128.5 49.89 129.95 48.4C131.16 47.18 132.43 45.43 132.77 44.53C133.12 43.63 133.4 41.82 133.4 40.51C133.4 39.2 133.12 37.39 132.78 36.49C132.44 35.59 132.3 34.52 132.47 34.11C132.64 33.7 133.18 33.36 133.68 33.36ZM123.68 40.51C124.14 40.51 124.52 40.85 124.53 41.26C124.55 41.66 124.14 42.4 123.62 42.89C122.88 43.59 122.52 43.63 121.96 43.07C121.4 42.5 121.42 42.15 122.05 41.43C122.5 40.92 123.23 40.51 123.68 40.51ZM145.49 41.22C147.81 41.4 147.93 41.5 148.08 43.49C148.21 45.14 147.78 46.15 146.01 48.36C144.78 49.9 141.67 52.85 139.1 54.92C136.53 56.99 132.46 59.95 130.06 61.51C127.66 63.07 122.69 65.94 119.02 67.9C115.35 69.86 111.88 71.47 111.31 71.48C110.73 71.48 110.4 71.16 110.55 70.74C110.7 70.34 114.63 67.61 119.29 64.7C123.95 61.78 130.03 57.92 132.81 56.12C135.58 54.32 139.28 51.61 141.04 50.1C142.8 48.59 144.6 46.62 145.04 45.72C145.49 44.82 145.86 44.02 145.86 43.94C145.87 43.85 145.07 43.59 144.08 43.34C142.78 43.01 142.4 42.64 142.67 41.97C142.95 41.3 143.72 41.09 145.49 41.22ZM122.25 45.87C122.51 45.87 122.86 46.14 123.02 46.47C123.19 46.8 123.05 47.6 122.73 48.26C122.4 48.91 121.73 49.45 121.25 49.45C120.76 49.45 120.3 48.96 120.24 48.37C120.17 47.78 120.49 46.98 120.95 46.59C121.41 46.19 121.99 45.87 122.25 45.87ZM114.19 52.43C114.65 52.43 115.02 52.63 115.01 52.87C115 53.12 110.94 58.5 105.97 64.84C100.21 72.18 97.15 76.55 97.53 76.89C97.89 77.21 104.15 76.25 113.24 74.46C121.56 72.83 129.16 71.49 130.14 71.49C131.12 71.48 132.25 71.81 132.67 72.22C133.08 72.64 133.41 73.45 133.41 74.02C133.4 74.59 133.07 75.16 132.66 75.28C132.25 75.4 124.05 76.79 114.43 78.37C104.81 79.95 96.87 81.46 96.79 81.73C96.71 81.99 96.31 82.22 95.9 82.22C95.49 82.23 94.56 81.7 93.82 81.03C92.65 79.98 92.58 79.65 93.23 78.39C93.64 77.6 98.34 71.43 103.67 64.69C109 57.94 113.74 52.43 114.19 52.43Z"></path>
        </svg>
      <div onclick=setDarkMode(true) id="darkBtn">🌚</div>
      <div onclick=setDarkMode(false) id="lightBtn" class=hidden>🌝</div>
    </h4>
  </div>

  <div class="twelve columns">
    <div class="row">
      <div class="nine columns left">
        <a href="<%= config.root %>" class="link">home</a>
        <% for (name in theme.menu) { %>
          <a href="<%- url_for(theme.menu[name]) %>" class="ml link"><%- name %></a>
        <% } %>
        <% if (theme.email) { %>
          <a href="mailto:<%- obfuscate(theme.email) %>" class="ml link" target="_blank">email</a>
        <% } %>
      </div>
    </div>
    <hr style="margin-bottom: 2.6rem">
  </div>
</div>

<script >

  if (localStorage.getItem('clickme') == 'hide') {
    document.getElementsByClassName('clickme')[0].style.visibility = 'hidden';
  } 

  if (localStorage.getItem('preferredTheme') == 'dark') {
    setDarkMode(true);
  }

  function setDarkMode(isDark) {
    document.getElementsByClassName('clickme')[0].style.visibility = 'hidden';
    localStorage.setItem('clickme', 'hide');
    var darkBtn = document.getElementById('darkBtn');
    var lightBtn = document.getElementById('lightBtn');
    if (isDark) {
      lightBtn.style.display = "block"
      darkBtn.style.display = "none"
      localStorage.setItem('preferredTheme', 'dark');
    } else {
      lightBtn.style.display = "none"
      darkBtn.style.display = "block"
      localStorage.removeItem('preferredTheme');
    }
    document.body.classList.toggle("darkmode");
  }
</script>
